<div class="quizz__container">
  <div class="quizz_logo">
    <img src="logo.png" alt="">
    <h3>{{ title }}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_questions">
    <h3>{{ questionSelected.question }}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_options">
    <button 
      *ngFor="let option of questionSelected.options"
      (click)="playerChoose(option.alias)"
      class="btn-option"
    >
      {{ option.name }}
    </button>
  </div>
  <div *ngIf="finished" class="quizz_results">
    <h1>O seu resultado é: </h1>
    <p>{{ answerSelected }}</p>

    <div (click)="refresh()" class="refresh">
      <mat-icon 
        aria-hidden="false" 
        aria-label="Example home icon" 
        fontIcon="refresh"
      ></mat-icon>
      <p>Reiniciar</p>
    </div>
  </div>
</div>